<h1>My Timesheet</h1>

<form method="POST">
    {% csrf_token %}

    <input type="date" name="date" required><br><br>

    <input type="text" name="task" placeholder="Task" required><br><br>

    <input type="number" name="hours" placeholder="Hours" required><br><br>

    <textarea name="comments" placeholder="Comments"></textarea><br><br>

    <button type="submit">Add Task</button>
</form>

<hr>

<table border="1">
<tr>
    <th>User</th>
    <th>Date</th>
    <th>Task</th>
    <th>Hours</th>
    <th>Comments</th>
</tr>

{% for i in data %}
<tr>
    <td>{{ i.user }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.task }}</td>
    <td>{{ i.hours_spent }}</td>
    <td>{{ i.comments }}</td>
</tr>
{% endfor %}
</table>
