<!DOCTYPE html>
<html>

<head>

<title>Create Timesheet</title>

<style>

body{
    font-family:Arial;
    background:#f4f4f4;
}

.box{
    width:500px;
    margin:auto;
    margin-top:50px;
    background:white;
    padding:30px;
    border-radius:10px;
}

input, textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:20px;
}

button{
    background:green;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:5px;
}

</style>

</head>

<body>

<div class="box">

<h1>Create Timesheet</h1>

<form>

<label>Date</label>
<input type="date">

<label>Hours</label>
<input type="number">

<label>Description</label>
<textarea></textarea>

<button>
Save Timesheet
</button>

</form>

</div>

</body>
</html>
